.props-table-box {
  @apply bg-neutral-200;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  overflow-x: auto;

  & + & {
    margin-top: 40px;
  }
}

html.dark .props-table-box {
  @apply bg-neutral-900;
}

.props-table {
  border-collapse: collapse;
  @apply w-full;

  & thead {
    @apply border-b border-neutral-300;
  }

  & th,
  td {
    line-height: 1;
    text-align: left;
    padding: 10px 16px;
    font-size: 13px;
    font-weight: 500;
  }

  & td {
    font-size: 13px;
    font-weight: normal;

    & > .wui-tag {
      font-size: 12px !important;
      font-weight: normal;
    }

    & .wui-tag + .wui-tag {
      margin-left: 4px;
    }
  }

  & tr {
    @apply border-b border-t border-neutral-300;
  }

  tr:last-child {
    border-bottom: none;
  }
}

html.dark .props-table {
  & thead {
    @apply border-neutral-700;
  }

  & tr {
    @apply border-neutral-700;
  }

}
