.table-box {
  border: 1px solid #d3dae6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  overflow-x: auto;

  & + & {
    margin-top: 40px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;

  & thead {
    background-color: #fafbfd;
    border-bottom: 1px solid #d3dae6;
    border-top: 1px solid #d3dae6;
  }

  & th,
  td {
    line-height: 1;
    text-align: left;
    padding: 10px 16px;
    font-size: 13px;
    font-weight: 500;
  }

  & td {
    font-size: 13px;
    font-weight: normal;

    & > .wui-tag {
      font-size: 12px !important;
      font-weight: normal;
    }

    & .wui-tag + .wui-tag {
      margin-left: 4px;
    }
  }

  & tr {
    border-top: 1px solid #d3dae6;
    border-bottom: 1px solid #d3dae6;
  }

  tr:last-child {
    border-bottom: none;
  }
}