!**/glob-import/dir/node_modules
!**/glob-import/dir/components.d.ts
.DS_Store
.idea
*.cpuprofile
*.local
*.log
.vitepress/cache
dist
dist-ssr
explorations
node_modules
playground-temp
temp
TODO.md
.eslintcache
*.local
.env
stats.html
inspiration
