:root {
	--wui-button-variant-names: (primary, secondary, info, success, warning, danger);
	--wui-button-variant-colors: (primary, neutral, info, success, warning, danger);
}

.wui-btn {
  @apply cursor-pointer flex-wrap flex-shrink-0;
  @apply transition ease-in-out duration-120 select-none;
  @apply inline-flex space-x-2 font-bold tracking-wide;
  @apply items-center align-middle justify-center text-center;
  @apply border border-solid;

  &-text {
    @apply inline-flex;
    @apply items-center align-middle justify-center text-center;
  }

  /* Variants */
  @each $variant, $color in var(--wui-button-variant-names), var(--wui-button-variant-colors) {
    &-variant--$variant {
      border-color: var(--wui-color-$(color)-6);
      color: var(--wui-color-$(color)-11);
      background-color: var(--wui-color-$(color)-5);

      &:hover {
        background-color: var(--wui-color-$(color)-6);
        border-color: var(--wui-color-$(color)-7);
      }

      &:active {
        background-color: var(--wui-color-$(color)-7);
        border-color: var(--wui-color-$(color)-8);
      }
    }
  }

  &.wui-btn--outlined:not(:hover) {
    @apply bg-transparent;
  }

  &.wui-btn--ghost:not(:hover) {
    @apply border-transparent;
    @apply bg-transparent;
  }

  &:focus {
    @apply outline outline-offset-2 outline-2 outline-accent-8/50;
  }

  &--shape-round {
    @apply rounded-full;
  }
  &--shape-square {
    @apply rounded-none;
  }
  &--shape-rounded {
    @apply rounded;
  }

  &-stretch--wide {
    @apply w-64;
  }

  &-stretch--full {
    @apply w-full;
  }

  &--size-sm {
    @apply h-8 text-sm min-h-8 px-2;

    &.wui-btn-with-icon {
      @apply w-8 text-xl;
    }
  }

  &--size-base {
    @apply h-12 min-h-12 px-4;

    &.wui-btn-with-icon {
      @apply w-12 text-2xl;
    }
  }

  &--size-lg {
    @apply h-16 text-lg px-4;
    @apply font-bold;

    &.wui-btn-with-icon {
      @apply w-16 text-3xl;
    }
  }

  &--size-xl {
    @apply h-20 text-xl px-6;
    @apply font-bold;

    &.wui-btn-with-icon {
      @apply w-20 text-4xl leading-none;
    }
  }
  &--size-xl.&--shape-rounded {
    @apply rounded-lg;
  }

  &-with-icon {
    @apply font-bold flex items-center justify-center;
  }

  &-loading {
    @apply cursor-wait;
  }

  &--disabled,
  &[disabled] {
    @apply pointer-events-none border cursor-not-allowed opacity-50;
    @apply grayscale;
    cursor: not-allowed;
  }
}
