/* Unstyled */
.wui-btn {
  @apply rounded-sm cursor-pointer flex-wrap flex-shrink-0 text-center transition ease-in-out duration-200 inline-flex items-center justify-center select-none;
  @apply space-x-2 h-10 text-sm min-h-10 px-4;
  line-height: 1em;
  &:focus {
    @apply outline-none;
  }

  .wui-btn-icon-wrapper * {
    @apply h-full;
  }

  /* disabled */
  &-disabled,
  &[disabled] {
    @apply pointer-events-none;
  }

  /* shapes */
  &-wide {
    @apply w-full;
  }
  &-square {
    @apply h-10 p-0 w-10;
  }
  &-circle {
    @apply rounded-full h-10 p-0 w-10;
  }
  &-round {
    @apply rounded-full;
  }

  /* loading */
  &.loading {
    &,
    &:hover {
      @apply pointer-events-none;
    }
    &:before {
      @apply rounded-full border-2 h-4 mr-2 w-4;
      animation: spin 2s linear infinite;
      content: "";
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: currentColor;
      border-right-color: currentColor;
    }
  }

  &-xs {
    @apply h-6 min-h-6 px-2;
    font-size: 0.75rem;
  }
  &-sm {
    @apply h-8 min-h-8 px-3;
    font-size: 0.875rem;
  }
  &-base {
    @apply h-10 min-h-10 px-4;
    font-size: 0.875rem;
  }
  &-lg {
    @apply h-16 min-h-16 px-6;
    font-size: 1.125rem;
  }
  &-wide {
    @apply w-64;
  }
  &-block {
    @apply w-full;
  }
  &-square{
    &:where(.wui-btn-xs) {
      @apply h-6 p-0 w-6;
    }
    &:where(.wui-btn-sm) {
      @apply h-8 p-0 w-8;
    }
    &:where(.wui-btn-md) {
      @apply h-12 p-0 w-12;
    }
    &:where(.wui-btn-lg) {
      @apply h-16 p-0 w-16;
    }
  }
  &-circle{
    &:where(.wui-btn-xs) {
      @apply rounded-full h-6 p-0 w-6;
    }
    &:where(.wui-btn-sm) {
      @apply rounded-full h-8 p-0 w-8;
    }
    &:where(.wui-btn-md) {
      @apply rounded-full h-12 p-0 w-12;
    }
    &:where(.wui-btn-lg) {
      @apply rounded-full h-16 p-0 w-16;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .wui-btn.loading:before{
    animation: spin 10s linear infinite;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* group */
.wui-btn-group {
  @apply flex flex-wrap;
  & > input[type="radio"].wui-btn {
    @apply appearance-none;
  }
  & > input[type="radio"].wui-btn:before {
    content: attr(data-title);
  }
}

/* Styled */

.wui-btn {
  @apply font-semibold uppercase;
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.20s) ease-out;
  text-transform: var(--btn-text-case, uppercase);

  &:active:hover,
  &:active:focus{
    animation: none;
  }
  &:active:hover,
  &:active:focus{
    transform: scale( var(--btn-focus-scale, 0.95) );
  }

  /* default btn */
  @apply border-neutral-300;
  &:hover,
  &.wui-btn-active {
    @apply border-neutral-800;
  }
  &:focus-visible {
    @apply shadow-neutral-500;
  }

  /* neutral btn */
  &-neutral {
    @apply bg-neutral-200 border-neutral-400 shadow shadow-neutral-300 text-neutral-700;
    &:hover,
    &.wui-btn-active {
      @apply bg-neutral-300 border-neutral-500;
    }
    &:focus-visible {
      @apply shadow-neutral-500;
    }
  }
  /* brand colors */
  &-primary {
    @apply bg-primary-600 border-primary-700 shadow text-white shadow-primary-300;
    &:hover,
    &.wui-btn-active {
      @apply bg-primary-700 border-primary-900;
    }
    &:focus-visible {
      @apply shadow-primary-500;
    }
  }
  &-accent {
    @apply bg-accent-600 border-accent-500 shadow shadow-accent-300 text-accent-100;
    &:hover,
    &.wui-btn-active {
      @apply bg-accent-700 border-accent-900;
    }
    &:focus-visible {
      @apply shadow-accent-500;
    }
  }
  &-black {
    @apply bg-black border-black shadow text-neutral-200;
    &:hover,
    &.wui-btn-active {
      @apply text-white;
    }
  }

  /* btn with state colors */
  &-info {
    @apply bg-info-600 border-info-500 shadow shadow-info-300 text-info-100;
    &:hover,
    &.wui-btn-active {
      @apply bg-info-700 border-info-800;
    }
    &:focus-visible {
      @apply shadow-info-500;
    }
  }
  &-success {
    @apply bg-success-600 border-success-500 shadow shadow-success-300 text-success-100;
    &:hover,
    &.wui-btn-active {
      @apply bg-success-700 border-success-800;
    }
    &:focus-visible {
      @apply shadow-success-500;
    }
  }
  &-warning {
    @apply bg-warning-600 border-warning-500 shadow shadow-warning-300 text-warning-100;
    &:hover,
    &.wui-btn-active {
      @apply bg-warning-700 border-warning-800;
    }
    &:focus-visible {
      @apply shadow-warning-500;
    }
  }
  &-danger {
    @apply bg-danger-600 border-danger-500 shadow shadow-danger-300 text-danger-100;
    &:hover,
    &.wui-btn-active {
      @apply bg-danger-700 border-danger-800;
    }
    &:focus-visible {
      @apply shadow-danger-500;
    }
  }

  /* glass */
  &.glass{
    &:hover,
    &.wui-btn-active {
      --glass-opacity: 25%;
      --glass-border-opacity: 15%;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px currentColor;
    }
  }

  /* outline */
  &-outline {
    @apply bg-transparent border-current;
    &:hover {
      @apply bg-neutral-200 border-neutral-500 text-black;
    }
    &.wui-btn-neutral {
      @apply border-neutral-400 text-neutral-700;
      &:hover {
        @apply bg-neutral-200 border-neutral-600 text-black;
      }
    }
    &.wui-btn-primary {
      @apply text-primary-600;
      &:hover {
        @apply bg-primary-500 text-primary-100;
      }
    }
    &.wui-btn-secondary {
      @apply text-secondary-600;
      &:hover {
        @apply bg-secondary-500 text-secondary-100;
      }
    }
    &.wui-btn-accent {
      @apply text-accent-600;
      &:hover {
        @apply bg-accent-500 text-accent-100;
      }
    }
    &.wui-btn-black {
      @apply text-black;
      &:hover {
        @apply bg-black text-white;
      }
    }
    &.wui-btn-success {
      @apply text-success-600;
      &:hover {
        @apply bg-success-500 text-success-100;
      }
    }
    &.wui-btn-info {
      @apply text-info-600;
      &:hover {
        @apply bg-info-500 text-info-100;
      }
    }
    &.wui-btn-warning {
      @apply text-warning-600;
      &:hover {
        @apply bg-warning-500 text-warning-100;
      }
    }
    &.wui-btn-danger {
      @apply text-danger-600;
      &:hover {
        @apply bg-danger-500 text-danger-100;
      }
    }
  }

  /* btn variants */
  &-ghost {
    @apply border text-current;
    background-color: transparent;
    border-color: transparent;
    &:hover,
    &.wui-btn-active {
      @apply bg-neutral-600 bg-opacity-20 border-opacity-0;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px currentColor;
    }
  }
  &-link {
    @apply bg-none border-none !text-link-500;
    background-color: transparent;
    &:hover,
    &.wui-btn-active {
      @apply border-transparent text-link-700 underline;
      background-color: transparent;
    }
    &:focus-visible {
      box-shadow: 0 0 0 2px currentColor;
    }
  }

  /* disabled */
  &-disabled,
  &[disabled] {
    @apply bg-neutral-100 border-neutral-300 !text-neutral-400;

  }

  /* empty */
  &-empty {
    padding: 9px;
  }

  &-text {
    @apply !cursor-default;
  }

  /* loading */
  &.wui-btn-loading {
    &.wui-btn-square:before,
    &.wui-btn-circle:before {
      @apply mr-0;
    }
    &.wui-btn-xl:before,
    &.wui-btn-lg:before {
      @apply h-5 w-5;
    }
    &.wui-btn-sm:before,
    &.wui-btn-xs:before {
      @apply h-3 w-3;
    }
  }
}
/* group */
.wui-btn-group {
  & > input[type="radio"]:checked.wui-btn,
  & > .wui-btn-active {
    @apply bg-accent-600 border-accent-700 text-accent-200;
    &:focus-visible {
      box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsl(var(--p));
    }
  }
  & > .wui-btn:not(:first-child) {
    @apply rounded-l-none -ml-px;
  }
  & > .wui-btn:not(:last-child) {
    @apply rounded-r-none;
  }
}

@keyframes button-pop {
  0% {
    transform: scale( var(--btn-focus-scale, 0.98) );
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}