.wui-textarea {
  @apply w-full relative;
  @apply p-2 rounded;
  @apply form-control form-control__border form-control__surface form-control__outline;
  @apply appearance-none;

  /* -webkit-appearance: none;
  appearance: none; */

  &:disabled {
    @apply form-control__disabled;
  }

  &::placeholder {
    @apply text-neutral-8;
    text-indent: 0;
    transition: text-indent 0.27s ease;
  }

  &:focus::placeholder {
    text-indent: 6px;
    transition: text-indent 0.27s ease;
  }

  &-mask {
    @apply top-0 right-0 bottom-0 left-0 fixed;
    background-color: rgba(90, 98, 112, 0.5);
    z-index: 99;
  }
}
