.wui-textarea {
  @apply transition-all duration-200;
  @apply rounded w-full relative;

  @apply p-2;
  @apply text-base;
  @apply border border-solid box-border;
  @apply bg-neutral-1 border-neutral-8 text-neutral-11;

  -webkit-appearance: none;
  appearance: none;
  /* z-index: 2; */
  transition: all 0.2s;

  &:hover {
    @apply border-neutral-5;
  }

  &:disabled {
    @apply bg-neutral-3 text-neutral-7 !border-neutral-5;
    cursor: not-allowed;
  }

  &:focus {
    @apply ring-blue-500 border-blue-500;
  }

  &::placeholder {
    @apply text-neutral-8;
    text-indent: 0;
    transition: text-indent 0.27s ease;
  }

  &:focus::placeholder {
    text-indent: 6px;
    transition: text-indent 0.27s ease;
  }

  &-mask {
    @apply top-0 right-0 bottom-0 left-0 fixed;
    background-color: rgba(90, 98, 112, 0.5);
    z-index: 99;
  }
}
