html.dark {
  --gold1: hsl(44, 9%, 8.3%);
  --gold2: hsl(43, 14.3%, 9.6%);
  --gold3: hsl(42, 15.5%, 13%);
  --gold4: hsl(41, 16.4%, 15.6%);
  --gold5: hsl(41, 16.9%, 17.8%);
  --gold6: hsl(40, 17.6%, 20.8%);
  --gold7: hsl(38, 18.5%, 26.4%);
  --gold8: hsl(36, 19.6%, 35.1%);
  --gold9: hsl(36, 20%, 49.5%);
  --gold10: hsl(36, 22.3%, 54.5%);
  --gold11: hsl(35, 30%, 64%);
  --gold12: hsl(49, 52%, 93.8%);
}
