html.dark {
  --grass1: hsl(146, 30%, 7.4%);
  --grass2: hsl(136, 33.3%, 8.8%);
  --grass3: hsl(137, 36%, 11.4%);
  --grass4: hsl(137, 37.6%, 13.7%);
  --grass5: hsl(136, 38.7%, 16%);
  --grass6: hsl(135, 39.6%, 19.1%);
  --grass7: hsl(134, 40.3%, 23.8%);
  --grass8: hsl(131, 40.1%, 30.8%);
  --grass9: hsl(131, 41%, 46.5%);
  --grass10: hsl(131, 39%, 52.1%);
  --grass11: hsl(131, 43%, 57.2%);
  --grass12: hsl(137, 72%, 94%);
}
