html.dark {
  --indigo1: hsl(229, 24%, 10%);
  --indigo2: hsl(230, 36.4%, 12.9%);
  --indigo3: hsl(228, 43.3%, 17.5%);
  --indigo4: hsl(227, 47.2%, 21%);
  --indigo5: hsl(227, 50%, 24.1%);
  --indigo6: hsl(226, 52.9%, 28.2%);
  --indigo7: hsl(226, 56%, 34.5%);
  --indigo8: hsl(226, 58.2%, 44.1%);
  --indigo9: hsl(226, 70%, 55.5%);
  --indigo10: hsl(227, 75.2%, 61.6%);
  --indigo11: hsl(228, 100%, 75.9%);
  --indigo12: hsl(226, 83%, 96.3%);
}
