:root {
  --lime1: hsl(85, 50%, 98.7%);
  --lime2: hsl(85, 66.7%, 96.5%);
  --lime3: hsl(85, 76%, 92.3%);
  --lime4: hsl(84, 75.3%, 87.5%);
  --lime5: hsl(84, 71.5%, 81.9%);
  --lime6: hsl(82, 65%, 74.6%);
  --lime7: hsl(79, 53.2%, 61.8%);
  --lime8: hsl(76, 61.7%, 45.1%);
  --lime9: hsl(81, 67%, 50%);
  --lime10: hsl(80, 68.3%, 46.9%);
  --lime11: hsl(75, 80%, 26%);
  --lime12: hsl(78, 70%, 11.5%);
}
