html.dark {
  --mint1: hsl(173, 50%, 6.6%);
  --mint2: hsl(176, 73%, 7.3%);
  --mint3: hsl(175, 79.3%, 8.9%);
  --mint4: hsl(174, 84.8%, 10.3%);
  --mint5: hsl(174, 90.2%, 11.9%);
  --mint6: hsl(173, 96%, 13.8%);
  --mint7: hsl(172, 100%, 16.8%);
  --mint8: hsl(170, 100%, 21.4%);
  --mint9: hsl(167, 65%, 66%);
  --mint10: hsl(163, 80%, 77%);
  --mint11: hsl(167, 70%, 48%);
  --mint12: hsl(165, 80%, 94.8%);
}
