:root {
  --mint1: hsl(165, 80%, 98.8%);
  --mint2: hsl(164, 88.2%, 96.7%);
  --mint3: hsl(164, 76.6%, 93.3%);
  --mint4: hsl(165, 68.8%, 89.5%);
  --mint5: hsl(165, 60.6%, 84.5%);
  --mint6: hsl(165, 53.5%, 76.9%);
  --mint7: hsl(166, 50.7%, 66.1%);
  --mint8: hsl(168, 52.8%, 51%);
  --mint9: hsl(167, 65%, 66%);
  --mint10: hsl(167, 59.3%, 63.1%);
  --mint11: hsl(172, 72%, 28.5%);
  --mint12: hsl(172, 70%, 12%);
}
