html.dark {
  --plum1: hsl(301, 20%, 9.4%);
  --plum2: hsl(300, 29.8%, 11.2%);
  --plum3: hsl(298, 34.4%, 15.3%);
  --plum4: hsl(297, 36.8%, 18.3%);
  --plum5: hsl(296, 38.5%, 21.1%);
  --plum6: hsl(295, 40.4%, 24.7%);
  --plum7: hsl(294, 42.7%, 30.6%);
  --plum8: hsl(292, 45.1%, 40%);
  --plum9: hsl(292, 45%, 51%);
  --plum10: hsl(295, 50%, 55.4%);
  --plum11: hsl(300, 60%, 62%);
  --plum12: hsl(296, 74%, 95.7%);
}
