html.dark {
  --purple1: hsl(284, 20%, 9.6%);
  --purple2: hsl(283, 30%, 11.8%);
  --purple3: hsl(281, 37.5%, 16.5%);
  --purple4: hsl(280, 41.2%, 20%);
  --purple5: hsl(279, 43.8%, 23.3%);
  --purple6: hsl(277, 46.4%, 27.5%);
  --purple7: hsl(275, 49.3%, 34.6%);
  --purple8: hsl(272, 52.1%, 45.9%);
  --purple9: hsl(272, 51%, 54%);
  --purple10: hsl(273, 57.3%, 59.1%);
  --purple11: hsl(275, 80%, 71%);
  --purple12: hsl(279, 75%, 95.7%);
}
