html {
}

body {
  /* Force scrollbars to prevent content jumping */
  @apply overflow-y-scroll;
}

.h0 {
  @apply font-sans text-3xl font-bold md:text-5xl;
}

h1,
.h1 {
  @apply font-sans text-2xl font-bold md:text-4xl;
}

h2,
.h2 {
  @apply font-sans text-xl font-bold md:text-3xl;
}

h3,
.h3 {
  @apply font-sans text-lg font-bold md:text-2xl;
}

h4,
.h4 {
  @apply font-sans text-base font-bold md:text-lg;
}

body,
.p {
  @apply font-sans text-sm md:text-base;
}
