.wui-select-selection {
  user-select: none;
  padding: 0 8px 0 12px;
  transition: all 0.27s;
  @apply rounded flex h-10 text-left items-center justify-between;
  @apply bg-white border border-neutral-7 text-neutral-11;
  @apply cursor-pointer leading-none;
  @apply box-border outline-none;

  &:hover {
    @apply border-neutral-6;
  }

  &[data-active='true'] {
    @apply border-blue-500;

    & > .wui-select-arrow {
    }

    &:hover {
      @apply border-accent-3;
    }
  }

  &[data-disabled='true'] {
    @apply bg-neutral-3 border-neutral-4 text-neutral-8;
    cursor: not-allowed;

    .wui-select-placeholder {
      @apply text-neutral-9;
    }

    .wui-select-arrow {
      @apply text-neutral-11;
    }

    &:hover {
      @apply border-neutral-4;
    }
  }

  &:focus:not(&[data-disabled='true']) {
    @apply border-blue-500;
    /* box-shadow:
      0 2px 4px fade(@color-primary, 40%),
      0 0 0 3px fade(@color-primary, 20%); */
  }
}

.wui-select-placeholder,
.wui-select-selected {
  @apply text-base overflow-hidden whitespace-nowrap;
  line-height: 1.2;
  text-overflow: ellipsis;
  word-wrap: normal;
}

.wui-select-placeholder {
  @apply text-neutral-9;

  & + .wui-icon {
    margin-left: 10px;
  }
}

.wui-select-arrow {
  @apply text-lg ml-2 transition-all duration-50;
}

.wui-select-dropdown {
  @apply w-max;

  &[data-divided='true'] .wui-select-option:not(:first-child) {
    @apply border-t border-neutral-7;
  }
}

.wui-select-list {
  @apply m-0 w-full pt-2 overflow-y-auto;
  @apply rounded shadow-xl;
  @apply text-left break-words;
  @apply list-none select-none max-h-128;

  &::-webkit-scrollbar-track {
    @apply rounded-rt rounded-br overflow-hidden;
  }
}

.wui-select-option {
  @apply w-full h-full;
  @apply box-border whitespace-nowrap whitespace-normal;
  @apply text-ellipsis overflow-hidden;
  @apply py-2 px-4;
  @apply flex items-center justify-between space-x-4;
  @apply bg-white text-neutral-11;

  &:hover {
    @apply cursor-pointer;
    @apply bg-accent-9 text-accent-2;
  }

  &[data-selected='true'] {
    @apply bg-accent-11 text-accent-2;
  }

  &[data-disabled='true'] {
    @apply bg-white text-neutral-9;

    &:hover {
      @apply bg-neutral-3 text-neutral-9 cursor-not-allowed;
    }
  }
  &[data-selected='true'][data-disabled='true'] {
    @apply bg-neutral-3 text-neutral-9 cursor-not-allowed;
  }

  &:first-child {
    @apply rounded-t;
  }
}

.wui-select-option-check {
  @apply w-4 h-4;
  @apply text-accent-11;
}
