:root {
	--wui-alert-variants: (neutral, info, success, warning, danger);
}

.wui-alert {
  @apply box-sm p-4 rounded flex border w-full;

  &-icon-wrapper {
    @apply flex mr-3 justify-center items-center text-lg;
  }
  &-icon {
    @apply select-none;
  }

  &-close {
    @apply text-color-default cursor-pointer select-none text-xl;
    @apply ml-4 mt-1;

    &:hover {
      @apply text-color-pronounced;
    }
  }

  &-body {
    @apply flex flex-col align-middle flex-grow;
  }

  &-title {
    @apply block font-bold text-lg;
  }

  /* Variants */
  @each $variant in var(--wui-alert-variants) {
    &-variant--$variant {
      border-color: var(--wui-color-$(variant)6);
      background-color: var(--wui-color-$(variant)3);
      color: var(--wui-color-$(variant)-11);
    }
  }
}
