.wui-drawer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* pointer-events: none; */

  &-mask {
    @apply h-full m-0 w-full top-0 left-0 fixed;
    @apply z-900 overflow-hidden box-border;
    background-color: rgba(0, 0, 0, 0.45);
    /* padding: 16px; */
  }

  &-body {
    @apply bg-white cursor-default z-920 fixed;
    @apply max-w-75/100 overflow-auto;
    border-radius: 8px;
    height: calc(100% - 40px);
    transition-delay: 0.1s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 7px 14px rgba(50, 50, 93, 0.1),
      0 0 0 1px rgba(50, 50, 93, 0.05);

    transition: transform 0.2s ease-in-out;

    &--right {
      top: 20px;
      right: 20px;
      /* height: 100%; */
    }

    &--left {
      top: 20px;
      left: 20px;
    }
  }
}
