:root,
.light {
  --wui-color-amber-1: hsl(39, 70%, 99%);
  --wui-color-amber-2: hsl(40, 100%, 96.5%);
  --wui-color-amber-3: hsl(44, 100%, 91.7%);
  --wui-color-amber-4: hsl(43, 100%, 86.8%);
  --wui-color-amber-5: hsl(42, 100%, 81.8%);
  --wui-color-amber-6: hsl(38, 99.7%, 76.3%);
  --wui-color-amber-7: hsl(36, 86.1%, 67.1%);
  --wui-color-amber-8: hsl(35, 85.2%, 55.1%);
  --wui-color-amber-9: hsl(39, 100%, 57%);
  --wui-color-amber-10: hsl(35, 100%, 55.5%);
  --wui-color-amber-11: hsl(30, 100%, 34%);
  --wui-color-amber-12: hsl(20, 80%, 17%);
}

html.dark {
  --wui-color-amber-1: hsl(36, 100%, 6.1%);
  --wui-color-amber-2: hsl(35, 100%, 7.6%);
  --wui-color-amber-3: hsl(32, 100%, 10.2%);
  --wui-color-amber-4: hsl(32, 100%, 12.4%);
  --wui-color-amber-5: hsl(33, 100%, 14.6%);
  --wui-color-amber-6: hsl(35, 100%, 17.1%);
  --wui-color-amber-7: hsl(35, 91%, 21.6%);
  --wui-color-amber-8: hsl(36, 100%, 25.5%);
  --wui-color-amber-9: hsl(39, 100%, 57%);
  --wui-color-amber-10: hsl(43, 100%, 64%);
  --wui-color-amber-11: hsl(39, 90%, 49.8%);
  --wui-color-amber-12: hsl(39, 97%, 93.2%);
}
