:root,
.light {
  --wui-color-gold-1: hsl(50, 20%, 99.1%);
  --wui-color-gold-2: hsl(47, 52.9%, 96.7%);
  --wui-color-gold-3: hsl(46, 38.2%, 93.7%);
  --wui-color-gold-4: hsl(44, 32.7%, 90.1%);
  --wui-color-gold-5: hsl(43, 29.9%, 85.7%);
  --wui-color-gold-6: hsl(41, 28.3%, 79.8%);
  --wui-color-gold-7: hsl(39, 27.6%, 71.9%);
  --wui-color-gold-8: hsl(36, 27.2%, 61.8%);
  --wui-color-gold-9: hsl(36, 20%, 49.5%);
  --wui-color-gold-10: hsl(36, 19.8%, 45.7%);
  --wui-color-gold-11: hsl(36, 20%, 39%);
  --wui-color-gold-12: hsl(36, 16%, 20%);
}

html.dark {
  --wui-color-gold-1: hsl(44, 9%, 8.3%);
  --wui-color-gold-2: hsl(43, 14.3%, 9.6%);
  --wui-color-gold-3: hsl(42, 15.5%, 13%);
  --wui-color-gold-4: hsl(41, 16.4%, 15.6%);
  --wui-color-gold-5: hsl(41, 16.9%, 17.8%);
  --wui-color-gold-6: hsl(40, 17.6%, 20.8%);
  --wui-color-gold-7: hsl(38, 18.5%, 26.4%);
  --wui-color-gold-8: hsl(36, 19.6%, 35.1%);
  --wui-color-gold-9: hsl(36, 20%, 49.5%);
  --wui-color-gold-10: hsl(36, 22.3%, 54.5%);
  --wui-color-gold-11: hsl(35, 30%, 64%);
  --wui-color-gold-12: hsl(49, 52%, 93.8%);
}
