:root,
.light {
  --wui-color-grass-1: hsl(116, 50%, 98.9%);
  --wui-color-grass-2: hsl(120, 60%, 97.1%);
  --wui-color-grass-3: hsl(120, 53.6%, 94.8%);
  --wui-color-grass-4: hsl(121, 47.5%, 91.4%);
  --wui-color-grass-5: hsl(122, 42.6%, 86.5%);
  --wui-color-grass-6: hsl(124, 39%, 79.7%);
  --wui-color-grass-7: hsl(126, 37.1%, 70.2%);
  --wui-color-grass-8: hsl(131, 38.1%, 56.3%);
  --wui-color-grass-9: hsl(131, 41%, 46.5%);
  --wui-color-grass-10: hsl(132, 43.1%, 42.2%);
  --wui-color-grass-11: hsl(133, 50%, 32.5%);
  --wui-color-grass-12: hsl(130, 30%, 14.9%);
}

html.dark {
  --wui-color-grass-1: hsl(146, 30%, 7.4%);
  --wui-color-grass-2: hsl(136, 33.3%, 8.8%);
  --wui-color-grass-3: hsl(137, 36%, 11.4%);
  --wui-color-grass-4: hsl(137, 37.6%, 13.7%);
  --wui-color-grass-5: hsl(136, 38.7%, 16%);
  --wui-color-grass-6: hsl(135, 39.6%, 19.1%);
  --wui-color-grass-7: hsl(134, 40.3%, 23.8%);
  --wui-color-grass-8: hsl(131, 40.1%, 30.8%);
  --wui-color-grass-9: hsl(131, 41%, 46.5%);
  --wui-color-grass-10: hsl(131, 39%, 52.1%);
  --wui-color-grass-11: hsl(131, 43%, 57.2%);
  --wui-color-grass-12: hsl(137, 72%, 94%);
}
