:root,
.light {
  --wui-color-gray-1: hsl(0, 0%, 99%);
  --wui-color-gray-2: hsl(0, 0%, 97.3%);
  --wui-color-gray-3: hsl(0, 0%, 95.1%);
  --wui-color-gray-4: hsl(0, 0%, 93%);
  --wui-color-gray-5: hsl(0, 0%, 90.9%);
  --wui-color-gray-6: hsl(0, 0%, 88.7%);
  --wui-color-gray-7: hsl(0, 0%, 85.8%);
  --wui-color-gray-8: hsl(0, 0%, 78%);
  --wui-color-gray-9: hsl(0, 0%, 56.1%);
  --wui-color-gray-10: hsl(0, 0%, 52.3%);
  --wui-color-gray-11: hsl(0, 0%, 43.5%);
  --wui-color-gray-12: hsl(0, 0%, 9%);
}

html.dark {
  --wui-color-gray-1: hsl(0, 0%, 8.5%);
  --wui-color-gray-2: hsl(0, 0%, 11.0%);
  --wui-color-gray-3: hsl(0, 0%, 13.6%);
  --wui-color-gray-4: hsl(0, 0%, 15.8%);
  --wui-color-gray-5: hsl(0, 0%, 17.9%);
  --wui-color-gray-6: hsl(0, 0%, 20.5%);
  --wui-color-gray-7: hsl(0, 0%, 24.3%);
  --wui-color-gray-8: hsl(0, 0%, 31.2%);
  --wui-color-gray-9: hsl(0, 0%, 43.9%);
  --wui-color-gray-10: hsl(0, 0%, 49.4%);
  --wui-color-gray-11: hsl(0, 0%, 62.8%);
  --wui-color-gray-12: hsl(0, 0%, 93.0%);
}
