:root,
.light {
  --wui-color-green-1: hsl(136, 50%, 98.9%);
  --wui-color-green-2: hsl(138, 62.5%, 96.9%);
  --wui-color-green-3: hsl(139, 55.2%, 94.5%);
  --wui-color-green-4: hsl(140, 48.7%, 91%);
  --wui-color-green-5: hsl(141, 43.7%, 86%);
  --wui-color-green-6: hsl(143, 40.3%, 79%);
  --wui-color-green-7: hsl(146, 38.5%, 69%);
  --wui-color-green-8: hsl(151, 40.2%, 54.1%);
  --wui-color-green-9: hsl(151, 55%, 41.5%);
  --wui-color-green-10: hsl(152, 57.5%, 37.6%);
  --wui-color-green-11: hsl(153, 67%, 28.5%);
  --wui-color-green-12: hsl(155, 40%, 14%);
}

html.dark {
  --wui-color-green-1: hsl(146, 30%, 7.4%);
  --wui-color-green-2: hsl(155, 44.2%, 8.4%);
  --wui-color-green-3: hsl(155, 46.7%, 10.9%);
  --wui-color-green-4: hsl(154, 48.4%, 12.9%);
  --wui-color-green-5: hsl(154, 49.7%, 14.9%);
  --wui-color-green-6: hsl(154, 50.9%, 17.6%);
  --wui-color-green-7: hsl(153, 51.8%, 21.8%);
  --wui-color-green-8: hsl(151, 51.7%, 28.4%);
  --wui-color-green-9: hsl(151, 55%, 41.5%);
  --wui-color-green-10: hsl(151, 49.3%, 46.5%);
  --wui-color-green-11: hsl(151, 50%, 53.2%);
  --wui-color-green-12: hsl(137, 72%, 94%);
}
