:root,
.light {
  --wui-color-mint-1: hsl(165, 80%, 98.8%);
  --wui-color-mint-2: hsl(164, 88.2%, 96.7%);
  --wui-color-mint-3: hsl(164, 76.6%, 93.3%);
  --wui-color-mint-4: hsl(165, 68.8%, 89.5%);
  --wui-color-mint-5: hsl(165, 60.6%, 84.5%);
  --wui-color-mint-6: hsl(165, 53.5%, 76.9%);
  --wui-color-mint-7: hsl(166, 50.7%, 66.1%);
  --wui-color-mint-8: hsl(168, 52.8%, 51%);
  --wui-color-mint-9: hsl(167, 65%, 66%);
  --wui-color-mint-10: hsl(167, 59.3%, 63.1%);
  --wui-color-mint-11: hsl(172, 72%, 28.5%);
  --wui-color-mint-12: hsl(172, 70%, 12%);
}

html.dark {
  --wui-color-mint-1: hsl(173, 50%, 6.6%);
  --wui-color-mint-2: hsl(176, 73%, 7.3%);
  --wui-color-mint-3: hsl(175, 79.3%, 8.9%);
  --wui-color-mint-4: hsl(174, 84.8%, 10.3%);
  --wui-color-mint-5: hsl(174, 90.2%, 11.9%);
  --wui-color-mint-6: hsl(173, 96%, 13.8%);
  --wui-color-mint-7: hsl(172, 100%, 16.8%);
  --wui-color-mint-8: hsl(170, 100%, 21.4%);
  --wui-color-mint-9: hsl(167, 65%, 66%);
  --wui-color-mint-10: hsl(163, 80%, 77%);
  --wui-color-mint-11: hsl(167, 70%, 48%);
  --wui-color-mint-12: hsl(165, 80%, 94.8%);
}
