:root,
.light {
  --wui-color-overlay-white-1: hsla(0, 0%, 100%, 0);
  --wui-color-overlay-white-2: hsla(0, 0%, 100%, 0.013);
  --wui-color-overlay-white-3: hsla(0, 0%, 100%, 0.034);
  --wui-color-overlay-white-4: hsla(0, 0%, 100%, 0.056);
  --wui-color-overlay-white-5: hsla(0, 0%, 100%, 0.086);
  --wui-color-overlay-white-6: hsla(0, 0%, 100%, 0.124);
  --wui-color-overlay-white-7: hsla(0, 0%, 100%, 0.176);
  --wui-color-overlay-white-8: hsla(0, 0%, 100%, 0.249);
  --wui-color-overlay-white-9: hsla(0, 0%, 100%, 0.386);
  --wui-color-overlay-white-10: hsla(0, 0%, 100%, 0.446);
  --wui-color-overlay-white-11: hsla(0, 0%, 100%, 0.592);
  --wui-color-overlay-white-12: hsla(0, 0%, 100%, 0.923);
}
