:root,
.light {
  --wui-color-overlay-black-1: hsla(0, 0%, 0%, 0.012);
  --wui-color-overlay-black-2: hsla(0, 0%, 0%, 0.027);
  --wui-color-overlay-black-3: hsla(0, 0%, 0%, 0.047);
  --wui-color-overlay-black-4: hsla(0, 0%, 0%, 0.071);
  --wui-color-overlay-black-5: hsla(0, 0%, 0%, 0.09);
  --wui-color-overlay-black-6: hsla(0, 0%, 0%, 0.114);
  --wui-color-overlay-black-7: hsla(0, 0%, 0%, 0.141);
  --wui-color-overlay-black-8: hsla(0, 0%, 0%, 0.22);
  --wui-color-overlay-black-9: hsla(0, 0%, 0%, 0.439);
  --wui-color-overlay-black-10: hsla(0, 0%, 0%, 0.478);
  --wui-color-overlay-black-11: hsla(0, 0%, 0%, 0.565);
  --wui-color-overlay-black-12: hsla(0, 0%, 0%, 0.91);
}
