:root,
.light {
  --wui-color-pink-1: hsl(322, 100%, 99.4%);
  --wui-color-pink-2: hsl(323, 100%, 98.4%);
  --wui-color-pink-3: hsl(323, 86.3%, 96.5%);
  --wui-color-pink-4: hsl(323, 78.7%, 94.2%);
  --wui-color-pink-5: hsl(323, 72.2%, 91.1%);
  --wui-color-pink-6: hsl(323, 66.3%, 86.6%);
  --wui-color-pink-7: hsl(323, 62%, 80.1%);
  --wui-color-pink-8: hsl(323, 60.3%, 72.4%);
  --wui-color-pink-9: hsl(322, 65%, 54.5%);
  --wui-color-pink-10: hsl(322, 63.9%, 50.7%);
  --wui-color-pink-11: hsl(322, 75%, 46%);
  --wui-color-pink-12: hsl(320, 70%, 13.5%);
}

html.dark {
  --wui-color-pink-1: hsl(318, 25%, 9.6%);
  --wui-color-pink-2: hsl(319, 32.2%, 11.6%);
  --wui-color-pink-3: hsl(319, 41%, 16%);
  --wui-color-pink-4: hsl(320, 45.4%, 18.7%);
  --wui-color-pink-5: hsl(320, 49%, 21.1%);
  --wui-color-pink-6: hsl(321, 53.6%, 24.4%);
  --wui-color-pink-7: hsl(321, 61.1%, 29.7%);
  --wui-color-pink-8: hsl(322, 74.9%, 37.5%);
  --wui-color-pink-9: hsl(322, 65%, 54.5%);
  --wui-color-pink-10: hsl(323, 72.8%, 59.2%);
  --wui-color-pink-11: hsl(325, 90%, 66.4%);
  --wui-color-pink-12: hsl(322, 90%, 95.8%);
}
