:root,
.light {
  --wui-color-plum-1: hsl(292, 90%, 99.4%);
  --wui-color-plum-2: hsl(300, 100%, 98.6%);
  --wui-color-plum-3: hsl(299, 71.2%, 96.4%);
  --wui-color-plum-4: hsl(299, 62%, 93.8%);
  --wui-color-plum-5: hsl(298, 56.1%, 90.5%);
  --wui-color-plum-6: hsl(296, 51.3%, 85.8%);
  --wui-color-plum-7: hsl(295, 48.2%, 78.9%);
  --wui-color-plum-8: hsl(292, 47.7%, 70.8%);
  --wui-color-plum-9: hsl(292, 45%, 51%);
  --wui-color-plum-10: hsl(292, 50.2%, 46.9%);
  --wui-color-plum-11: hsl(292, 60%, 42.5%);
  --wui-color-plum-12: hsl(291, 66%, 14%);
}

html.dark {
  --wui-color-plum-1: hsl(301, 20%, 9.4%);
  --wui-color-plum-2: hsl(300, 29.8%, 11.2%);
  --wui-color-plum-3: hsl(298, 34.4%, 15.3%);
  --wui-color-plum-4: hsl(297, 36.8%, 18.3%);
  --wui-color-plum-5: hsl(296, 38.5%, 21.1%);
  --wui-color-plum-6: hsl(295, 40.4%, 24.7%);
  --wui-color-plum-7: hsl(294, 42.7%, 30.6%);
  --wui-color-plum-8: hsl(292, 45.1%, 40%);
  --wui-color-plum-9: hsl(292, 45%, 51%);
  --wui-color-plum-10: hsl(295, 50%, 55.4%);
  --wui-color-plum-11: hsl(300, 60%, 62%);
  --wui-color-plum-12: hsl(296, 74%, 95.7%);
}
