:root,
.light {
  --wui-color-purple-1: hsl(280, 65%, 99.4%);
  --wui-color-purple-2: hsl(276, 100%, 99%);
  --wui-color-purple-3: hsl(276, 83.1%, 97%);
  --wui-color-purple-4: hsl(275, 76.4%, 94.7%);
  --wui-color-purple-5: hsl(275, 70.8%, 91.8%);
  --wui-color-purple-6: hsl(274, 65.4%, 87.8%);
  --wui-color-purple-7: hsl(273, 61%, 81.7%);
  --wui-color-purple-8: hsl(272, 60%, 73.5%);
  --wui-color-purple-9: hsl(272, 51%, 54%);
  --wui-color-purple-10: hsl(272, 46.8%, 50.3%);
  --wui-color-purple-11: hsl(272, 50%, 45.8%);
  --wui-color-purple-12: hsl(272, 66%, 16%);
}

html.dark {
  --wui-color-purple-1: hsl(284, 20%, 9.6%);
  --wui-color-purple-2: hsl(283, 30%, 11.8%);
  --wui-color-purple-3: hsl(281, 37.5%, 16.5%);
  --wui-color-purple-4: hsl(280, 41.2%, 20%);
  --wui-color-purple-5: hsl(279, 43.8%, 23.3%);
  --wui-color-purple-6: hsl(277, 46.4%, 27.5%);
  --wui-color-purple-7: hsl(275, 49.3%, 34.6%);
  --wui-color-purple-8: hsl(272, 52.1%, 45.9%);
  --wui-color-purple-9: hsl(272, 51%, 54%);
  --wui-color-purple-10: hsl(273, 57.3%, 59.1%);
  --wui-color-purple-11: hsl(275, 80%, 71%);
  --wui-color-purple-12: hsl(279, 75%, 95.7%);
}
