:root,
.light {
  --wui-color-red-1: hsl(359, 100%, 99.4%);
  --wui-color-red-2: hsl(359, 100%, 98.6%);
  --wui-color-red-3: hsl(360, 100%, 96.8%);
  --wui-color-red-4: hsl(360, 97.9%, 94.8%);
  --wui-color-red-5: hsl(360, 90.2%, 91.9%);
  --wui-color-red-6: hsl(360, 81.7%, 87.8%);
  --wui-color-red-7: hsl(359, 74.2%, 81.7%);
  --wui-color-red-8: hsl(359, 69.5%, 74.3%);
  --wui-color-red-9: hsl(358, 75%, 59%);
  --wui-color-red-10: hsl(358, 69.4%, 55.2%);
  --wui-color-red-11: hsl(358, 65%, 48.7%);
  --wui-color-red-12: hsl(354, 50%, 14.6%);
}

html.dark {
  --wui-color-red-1: hsl(353, 23%, 9.8%);
  --wui-color-red-2: hsl(357, 34.4%, 12%);
  --wui-color-red-3: hsl(356, 43.4%, 16.4%);
  --wui-color-red-4: hsl(356, 47.6%, 19.2%);
  --wui-color-red-5: hsl(356, 51.1%, 21.9%);
  --wui-color-red-6: hsl(356, 55.2%, 25.9%);
  --wui-color-red-7: hsl(357, 60.2%, 31.8%);
  --wui-color-red-8: hsl(358, 65%, 40.4%);
  --wui-color-red-9: hsl(358, 75%, 59%);
  --wui-color-red-10: hsl(358, 85.3%, 64%);
  --wui-color-red-11: hsl(358, 100%, 69.5%);
  --wui-color-red-12: hsl(351, 89%, 96%);
}
