:root,
.light {
  --wui-color-yellow-1: hsl(60, 54%, 98.5%);
  --wui-color-yellow-2: hsl(52, 100%, 95.5%);
  --wui-color-yellow-3: hsl(55, 100%, 90.9%);
  --wui-color-yellow-4: hsl(54, 100%, 86.6%);
  --wui-color-yellow-5: hsl(52, 97.9%, 82%);
  --wui-color-yellow-6: hsl(50, 89.4%, 76.1%);
  --wui-color-yellow-7: hsl(47, 80.4%, 68%);
  --wui-color-yellow-8: hsl(48, 100%, 46.1%);
  --wui-color-yellow-9: hsl(53, 92%, 50%);
  --wui-color-yellow-10: hsl(50, 100%, 48.5%);
  --wui-color-yellow-11: hsl(42, 100%, 29%);
  --wui-color-yellow-12: hsl(40, 55%, 13.5%);
}

html.dark {
  --wui-color-yellow-1: hsl(45, 100%, 5.5%);
  --wui-color-yellow-2: hsl(46, 100%, 6.7%);
  --wui-color-yellow-3: hsl(45, 100%, 8.7%);
  --wui-color-yellow-4: hsl(45, 100%, 10.4%);
  --wui-color-yellow-5: hsl(47, 100%, 12.1%);
  --wui-color-yellow-6: hsl(49, 100%, 14.3%);
  --wui-color-yellow-7: hsl(49, 90.3%, 18.4%);
  --wui-color-yellow-8: hsl(50, 100%, 22%);
  --wui-color-yellow-9: hsl(53, 92%, 50%);
  --wui-color-yellow-10: hsl(54, 100%, 68%);
  --wui-color-yellow-11: hsl(48, 100%, 47%);
  --wui-color-yellow-12: hsl(53, 100%, 91%);
}
